streamlit==1.36.0
pandas==2.2.2
sqlite3  # Included in Python standard library, no need to install separately
folium==0.17.0
streamlit-folium==0.21.0
joblib==1.4.2
xgboost==2.1.0
requests==2.32.3
google-auth-oauthlib==1.2.1
pillow==10.4.0
